<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <a class="icon" href="https://github.com/dansup/bulma-templates">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
</body>
</html>
