<!DOCTYPE html>
<html id="html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ben Glasder</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Bulma Version 0.6.2-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s=" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/css/site.css">
    </head>
    <body class="has-navbar-fixed-top" id="body">
        <!-- START NAV -->
        <nav class="navbar is-fixed-top is-dark <%if (user) { %> is-success <% } else { %> <% }%>">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <%if (user) { %>
                            LOGGED IN
                        <% } else { %>
                        <strong>Ben Glasder</strong>
                        <% }%>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/" class="navbar-item">Home</a>
                        <a href="/blog" class="navbar-item">Blog</a>
                        <a href="/aboutMe" class="navbar-item">About Me</a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <span class="icon is-large">
                            <i class="fas fa-sort-down"></i>
                            </span>
                            <div class="navbar-dropdown is-boxed">
                                <%if (user) { %>
                                    <a class="navbar-item" href="/blog/createPost">Create Post</a>
                                    <hr class="navbar-divider">
                                    <a class="navbar-item" href="/users/logout">Logout</a>
                                <% } else { %>
                                    <a href="/users/login" class="navbar-item">Admin Login</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END NAV -->
        <br>
        <br>

        <!-- Alerts -->
        <%if (success_msg != "") { %>
            <div class="notification is-success">
                <%=success_msg%>
            </div>
        <% } %>
        <%if (error_msg != "") { %>
            <div class="notification is-danger">
                <%=error_msg%>
            </div>
        <% } %>
        <%if (error != "") { %>
        <div class="notification is-danger">
            <%=error%>
        </div>
        <% } %>

        <script type="text/javascript" src="/js/bulma.js"></script>
    </body>
</html>
