<!-- START ARTICLE FEED -->
<section class="articles">
    <div class="column is-8 is-offset-2">

        <!-- START ARTICLE -->
        <div class="card article">
            <div class="card-content">
                <div class="media">
                    <div class="media-center">
                        <img src="./images/headshotNew.jpg" class="author-image" alt="Placeholder image">
                    </div>
                    <div class="media-content has-text-centered">
                        <p class="title article-title">Just Getting Started</p>
                        <p class="subtitle is-6 article-subtitle">
                            <a href="https://www.linkedin.com/in/benglasder/">@benglasder</a> on April 29, 2018
                        </p>
                    </div>
                </div>
                <div class="content article-body">
                    <p>In the past couple months, I have been trying really hard to pick up on some newer web development technologies. </p>
                    <p>Notably, I've been able to leverage resources like Pluralsight and Youtube to learn how to write apps outside of the Microsoft .Net stack.</p>
                    <p>In the beginning, it was pretty difficult to find the motivation to get back on the laptop and code after a day of coding at my current job. Not only difficult, but sometimes even <fancy>frustrating.</fancy></p>
                    <p>You see, at my current job, we seldom run into issues when upgrading packages using Nuget or upgrade our projects to the latest .Net framework. You really get what you pay for when you develop on a commercially licensed platform!</p>
                    <p>That's not the case when you go open source. One of the main challenges I have right now is attempting to follow a tutorial that uses a specific version of a framework or package, only to get half way and find that there are bugs that I just can't seem to figure out.</p>
                    <p>On the off-chance I get lucky, it's usually after diving into 2-3 pages of Stack Exchange search results. What would take me an hour or two in say an ASP.net MVC app, would take me the better part of a day just to figure out in Node.js!</p>

                    <h3 class="has-text-centered">But I'm catching on.</h3>

                    <p>With the free time I've had after work and a couple weekends dedicated to coding, I've been able to:</p>
                    <ul>
                        <li>Build this website using Node.js, Express, and Bulma CSS</li>
                        <li>Host this website to the public using AWS</li>
                        <li>Deploy it using a combination of Github, CodeDeploy, and some scripting 'magic'</li>
                        <li>Take tutorial courses on AWS, React, and noSQL </li>
                    </ul>

                    <p>That being said, I still have more planned for this site. Hopefully in this order, I would like to add:</p>
                    <ol>
                        <li>Database-backed blog posts using DynamoDB, So I don't need to store these blog posts in source code!</li>
                        <li>Add session management and authentication so only I (or a select few) can create blog posts</li>
                        <li>Register a memorable domain name for this site.</li>
                        <li>Redo the front end to use a modern framework, such as Angular, React, or Vue</li>
                    </ol>
                    <p>Stay Tuned, there is plenty more to come!</p>
                </div>
            </div>
        </div>
        <!-- END ARTICLE -->
</section>
<!-- END ARTICLE FEED -->
