<% include partials/header%>
<div class="container">
    <p>
        <a class="button is-primary is-large modal-button" data-target="modal-addEditToDoItem">Launch Modal</a>
    </p>
    <% include partials/todo/addEditToDoItemModal.ejs %>
</div>
