<% include partials/header %>
 <div class="container">
     <div class="jumbotron">ABOUT ME</div>
     <div class="jumbotron">Learning linux is fun!.</div>
     <div class="jumbotron">Will i get a port in use error again?</div>
 </div>
    <% include partials/footer %>