<%include partials/header.ejs%>
<script type="text/javascript">
    //document.getElementById("html").classList.add('background-image');
    //document.getElementById("body").classList.add('background-image');
</script>

<div class="pimg1">
    <div class="ptext">
      <span class="border">
        Parallax Website
      </span>
    </div>
</div>

<section class="section section-light">
    <h2>Section One</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in. Distinctio provident dolorem modi cumque illo enim quidem tempora deserunt nostrum voluptate labore repellat quisquam quasi cum suscipit dolore ab consequuntur, ad porro earum temporibus. Laborum ad temporibus ex, omnis!
    </p>
</section>

<div class="pimg2">
    <div class="ptext">
      <span class="border trans">
        Image Two Text
      </span>
    </div>
</div>

<section class="section section-dark">
    <h2>Section Two</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
    </p>
</section>

<div class="pimg3">
    <div class="ptext">
      <span class="border trans">
        Image Three Text
      </span>
    </div>
</div>

<section class="section section-dark">
    <h2>Section Three</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
    </p>
</section>

<div class="pimg1">
    <div class="ptext">
      <span class="border">
        Traversy Media
      </span>
    </div>
</div>
<!--<div class="hero-body">-->
    <!--<div class="container">-->
        <!--<br>-->
        <!--<br>-->
        <!--<br>-->
        <!--<div class="column is-6 is-offset-3 smoke">-->
            <!--<p class="title has-text-light">Summary</p>-->
            <!--<hr>-->
            <!--<p class="subtitle has-text-light">I am a recent college graduate who is passionate about technology. I currently work as a full stack-->
                <!--software developer at Secura Insurance in Appleton, Wisconsin. We utilize the Microsoft .Net-->
                <!--technology stack to build and maintain ASP.net MVC web applications, Web APIs, Windows Services,-->
                <!--and classic Windows Forms applications.-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="column is-6 is-offset-3 smoke">-->
            <!--<p class="title has-text-light">Free Time</p>-->
            <!--<hr>-->
            <!--<p class="subtitle has-text-light">In my freetime, I like to cook, listen to music, play guitar and piano, read up on new technology,-->
                <!--and of course, work on personal programming projects. In the winter, I shift my focus into getting out and skiing as much as-->
                <!--possible. This past season, I was fortunate enough to take two separate trips out to Summit County,-->
                <!--Colorado to ski Breck, Keystone and A-Basin. When I can't make it out west, I will still try-->
                <!--to get out to the midwest hills as much as often to impove my skill and ability.-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="column is-6 is-offset-3 smoke">-->
            <!--<p class="title has-text-light">Why I Built This Site</p>-->
            <!--<hr>-->
            <!--<p class="subtitle has-text-light">-->
                <!--This site's main purpose is to showcase my skills as a full stack developer. Since I work full-time-->
                <!--using .Net langauges (C# and occasionally VB.net), I wanted to challenge myself by building this website-->
                <!--using a completely different technology stack.-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="column is-6 is-offset-3 smoke">-->
            <!--<p class="title has-text-light">Education</p>-->
            <!--<hr>-->
            <!--<p class="subtitle is-size-4 has-text-light">-->
                <!--University of Wisconsin Oshkosh | 2014 - 2017-->
            <!--</p>-->
            <!--<p class="subtitle is-size-6 has-text-light">-->
                <!--B.B.A. Information Systems - Emphasis in Web and Mobile Development-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
