<% include partials/header %>
 <div class="container">
     <div class="jumbotron">ABOUT ME</div>
     <div class="jumbotron">Hey. Shouldnt have messed with applicationstop.</div>
 </div>
    <% include partials/footer %>