<%include partials/header.ejs%>
<div class="pimg1">
    <div class="ptext">
      <span class="border trans">
        Devil's Lake, Wisconsin
      </span>
    </div>
</div>

<section class="section section-dark">
    <h2>Summary</h2>
    <p>I am a recent college graduate who is passionate about technology. I currently work as a full stack
        software developer at Secura Insurance in Appleton, Wisconsin. We utilize the Microsoft .Net
        technology stack to build and maintain ASP.net MVC web applications, Web APIs, Windows Services,
        and classic Windows Forms applications.
    </p>
</section>

<div class="pimg2">
    <div class="ptext">
      <span class="border trans">
        Keystone, Colorado
      </span>
    </div>
</div>

<section class="section section-dark">
    <h2>Free Time</h2>
    <p>In my freetime, I like to cook, listen to music, play guitar and piano, read up on new technology,
        and of course, work on personal programming projects. In the winter, I shift my focus into getting out and skiing as much as
        possible. This past season, I was fortunate enough to take two separate trips out to Summit County,
        Colorado to ski Breck, Keystone and A-Basin. When I can't make it out west, I will still try
        to get out to the midwest hills as much as often to improve my skill and ability.
    </p>
</section>

<!--<section class="section section-dark">-->
    <!--<h2>Influences</h2>-->
    <!--<p>There are a couple of people I find substantially influential:-->
    <!--</p>-->
    <!--<ul>-->
        <!--<li>Chris Hadfield - Canadian Astronaut</li>-->
        <!--<li>Elon Musk - Entrepreneur</li>-->
        <!--<li>Jon Venus - Fitness Guru</li>-->
        <!--<li>Girltalk - Musician</li>-->
        <!--<li>Chris Pratt - Actor</li>-->
    <!--</ul>-->

<div class="pimg3">
    <div class="ptext">
      <span class="border trans">
        Seattle, Washington
      </span>
    </div>
</div>

<section class="section section-dark">
    <h2>Education</h2>
    <p>
        University of Wisconsin Oshkosh | 2014 - 2017
    </p>
    <p>
        B.B.A. Information Systems - Emphasis in Web and Mobile Development
    </p>
</section>
