<% include partials/header %>

<div class="container">
    <!-- START PROMO BLOCK -->
    <section class="hero is-info is-bold is-small promo-block">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Ben's Blog
                </h1>
                <h2 class="subtitle">
                    A blog documenting my progress in learning new technologies.
                </h2>
            </div>
        </div>
    </section>
    <!-- END PROMO BLOCK -->
 <% include partials/blog/blogPost %>
</div>
    <% include partials/footer %>
