<%include partials/header.ejs%>
<section class="section">
    <form method="post" action="/users/login">
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input type="text" class="input" name="username" placeholder="Username">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <input type="password" class="input" name="password" placeholder="Password">
        </div>
        <div class="field">
            <button type="submit" class="button is-link">Login</button>
        </div>
    </form>
</section>
<%include partials/footer.ejs%>
