html,body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #F0F2F4;
}
.navbar.is-white {
  background: #F0F2F4;
}

.navbar-brand .brand-text {
  font-size: 1.11rem;
  font-weight: bold;
}
.articles {
  margin: 5rem 0;
}
.articles .content p {
  line-height: 1.9;
  margin: 15px 0;
}
.author-image {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  border: 3px solid #ccc;
  border-radius: 50%;
}
.media-center {
  display: block;
  margin-bottom: 1rem;
}
.media-content {
  margin-top: 3rem;
}
.article, .promo-block {
  margin-top: 6rem;
}
div.column.is-8:first-child {
  padding-top: 0;
  margin-top: 0;
}
.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2;
}
.article-subtitle {
  color: #909AA0;
  margin-bottom: 3rem;
}
.article-body {
  line-height: 1.4;
    margin: 6rem;
}

@media (max-width : 768px) {
    .article-body {
        margin: 0px;
    }

    .promo-block div.container {
        margin: 1rem;
    }

}

@media (min-width : 769px) and (max-width : 1024px) {
    .article-body {
        margin: 0px;
    }

    .promo-block div.container {
        margin: 1rem;
    }
}

@media (min-width : 1025px) and (max-width : 1216px) {
    .article-body {
        margin: 0 6rem;
    }

    .promo-block div.container {
        margin: 1rem 5rem;
    }
    #blogPostDiv {
        margin-left: 0rem;
        margin-right: 0rem;
        width: 100%;
    }
}

@media (min-width : 1217px) and (max-width : 1408px) {
    .article-body {
        margin: 0 6rem;
        margin-top: 1rem;
    }

    .promo-block div.container {
        margin: 1rem 5rem;
    }
}

@media (min-width : 1409px) {
    .article-body {
        margin: 0 6rem;
    }

    .promo-block div.container {
        margin: 1rem 5rem;
    }
}


.promo-block .container {
  margin: 1rem 5rem;
}




/*paralax*/

body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
}

.pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;

    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
}

.pimg1{
    background-image:url('../images/DevilsLake.jpg');
    min-height:100%;
    margin-top: -5px;
}

.pimg2{
    background-image:url('../images/Keystone.jpg');
    min-height:600px;
}

.pimg3{
    background-image:url('../images/PublicMarketCropped.jpg');
    min-height:600px;
}

.section{
    text-align:center;
    padding:50px 80px;
}

.section-light{
    background-color:#f4f4f4;
    color:#666;
}

.section-dark{
    background-color:#363636;
    color:#ddd;
}

.ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#363636;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
}

.ptext .border{
    background-color:#111;
    color:#363636;
    padding:20px;
}

.ptext .border.trans{
    background-color:transparent;
}

@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment:scroll;
    }
}
.whole-post {
    display: none;
}

.post {
    position: relative;
    padding-bottom: 50px;
}

a.read {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
